#card:hover{
    
    background: linear-gradient(180deg, #616751, #2e3224);
}
#card{
    background: linear-gradient(180deg, #e8ecdf, #d2d8c5);
    transition: background-color/ 0.5s ease;

}

@keyframes slow-rotate {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    100% {
        scale : 1;
    }
    
  }
  
 .hover-rotate {
    animation: slow-rotate 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    animation-play-state: paused;
  }
  
.hover-rotate:hover {
    animation-play-state: running;
  }